.header-container {
position: relative;
height: 200vh;
overflow: hidden;
}

.header-container video {
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
top: 0;
left: 0;
}

.header-text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: 4rem;
z-index: 2;
}
